/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.login-form {
  position: relative;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  z-index: 1;
}
.login-form form {
  max-width: 350px;
  width: 90%;
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.login-form label {
  display: block;
  margin-bottom: 20px;
}
.login-form span {
  display: block;
  margin-bottom: 2px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
.login-form input:focus {
  outline: 2px solid var(--orange, transparent);
}
.hidden {
  -webkit-transform: translateX(3vw);
  -ms-transform: translateX(3vw);
  transform: translateX(3vw);
  opacity: 0;
}

@media (max-width: 500px) {
  .login-form {
    z-index: 2;
  }
  .login-form form {
    max-width: unset;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
  }

  .login-form span {
    color: var(--white, whitesmoke);
  }
  .hidden {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0;
  }
}
