/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.App {
  min-height: calc(100vh + 20px + 0.75em);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 15px 50px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 15px 50px rgba(0, 0, 0, 0.15);
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.dark {
  background: rgba(0, 0, 0, 0.55);
}

.wrapper {
  margin: 50px auto;
  max-width: 1150px;
  width: 90%;
  text-align: center;
}

.btn {
  padding: 5px 10px;
  border: 1px solid var(--white, white);
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: var(--orange, black);
  color: var(--black, black);
  background: var(--orange, white);
}

button.btn {
  background: none;
  color: var(--white, white);
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}

.error {
  color: red;
}

.mobile-search {
  display: none;
}

@media (max-width: 1000px) {
  .mobile-search {
    display: block;
    margin: 40px auto;
    text-align: center;
  }
}
